[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm.git
[submodule "ext/freetype2"]
	path = ext/freetype2
url=http://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "ext/cppformat"]
	path = ext/cppformat
	url = https://github.com/fmtlib/fmt.git
[submodule "ext/assimp"]
	path = ext/assimp
	url = https://github.com/assimp/assimp.git
[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest.git
[submodule "ext/lua/src"]
	path = ext/lua/src
	url = https://github.com/Lua/Lua.git
[submodule "ext/glbinding"]
	path = ext/glbinding
	url = https://github.com/cginternals/glbinding.git
[submodule "ext/websocketpp"]
	path = ext/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
[submodule "ext/tiny-process-library"]
	path = ext/tiny-process-library
	url = https://gitlab.com/eidheim/tiny-process-library.git
